@mixin util-uppercase() {
  text-transform: uppercase;
}
.uppercase {
  @include util-uppercase();
}

@mixin util-block() {
  display: block;
}
.block {
  @include util-block();
}

@mixin util-color-lightest() {
  color: $color-lightest;
}
.color-lightest {
  @include util-color-lightest();
}

@mixin util-color-lighter() {
  color: $color-lighter;
}
.color-lighter {
  @include util-color-lighter();
}

@mixin util-color-light() {
  color: $color-light;
}
.color-light {
  @include util-color-light();
}

@mixin util-color-dark() {
  color: $color-bg-lighter;
}
.color-dark {
  @include util-color-dark();
}

@mixin util-color-darker() {
  color: $color-bg-light;
}
.color-darker {
  @include util-color-darker();
}

@mixin util-color-darkest() {
  color: $color-bg;
}
.color-darkest {
  @include util-color-darkest();
}

@mixin util-color-primary() {
  color: $color-primary;
}
.primary-text, .color-primary {
  @include util-color-primary();
}

@mixin util-constraint-xs() {
  max-width: $width-xs;
  margin: 0 auto;
}
.constraint-xs {
  @include util-constraint-xs();
}

@mixin util-constraint-sm() {
  max-width: $width-sm;
  margin: 0 auto;
}
.constraint-sm {
  @include util-constraint-sm();
}

@mixin util-constraint-md() {
  max-width: $width-md;
  margin: 0 auto;
}
.constraint-md {
  @include util-constraint-md();
}

@mixin util-constraint-lg() {
  max-width: $width-lg;
  margin: 0 auto;
}
.constraint-lg {
  @include util-constraint-lg();
}

@mixin util-full-width() {
  width: 100%;
}
.full-width {
  @include util-full-width();
}

@mixin util-border-st() {
  border: $border-std;
}
.border-st {
  @include util-border-st();
}

@mixin util-border-st-top() {
  border-top: $border-std;
}
.border-st-top {
  @include util-border-st-top();
}

@mixin util-border-st-right() {
  border-right: $border-std;
}
.border-st-right {
  @include util-border-st-right();
}

@mixin util-border-st-bottom() {
  border-bottom: $border-std;
}
.border-st-bottom {
  @include util-border-st-bottom();
}

@mixin util-border-st-left() {
  border-left: $border-std;
}
.border-st-left {
  @include util-border-st-left();
}

@mixin util-divider() {
  margin: 40px 0;
  border-bottom: $border-std;
}
.divider {
  @include util-divider();
}

@mixin util-spacer() {
  margin: 80px 0;
}
.spacer {
  @include util-spacer();
}

@mixin util-align-left() {
  text-align: left;
}
.align-left {
  @include util-align-left();
}

@mixin util-align-right() {
  text-align: right;
}
.align-right {
  @include util-align-right();
}
@mixin util-align-center() {
  text-align: center;
}
.align-center {
  @include util-align-center();
}


@mixin util-bg-overlay() {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.bg-overlay {
  @include util-bg-overlay();
}
