.audint-home-banner-heading-words {
  span {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;

    &.red-highlight {
      color: red;
    }
  }
}

#audint_home_banner_heading_words_wrap {
  &.hidden {
    display: none;
  }
}