.audint-home-banner-heading-words {
  span {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;

    &.red-highlight {
      color: red;
    }
  }
}

#audint_home_banner_image_button {
  display: block;
  margin-bottom: 10px;
}

#audint_home_banner_image_preview {
  margin-bottom: 10px;
  position: relative;
  
  &.hidden {
    display: none;
  }

  img {
    display: block;
    max-width: 300px;
  }

  .audint-meta-home-banner-remove-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 300px;
    transform: translate(-100%, 0);
    background-color: red;
    padding: 8px 14px;
    border: none;
    border-radius: none;
    color: white;
    cursor: pointer;
  }
}

.audint-meta-callout-group {
  background-color: #f9f9f9;
  padding: 15px;

  & + & {
    margin-top: 20px;
  }
}
