.audint-meta-field-group {
  margin-bottom: 25px;

  & + &,
  .js-bicolor-text + & {
    border-top: 1px solid #ddd;
    padding-top: 30px;
  }

  label {
    display: block;
  }

  &.inline {
    display: flex;
    
    .audint-meta-field-group__left {
      margin-right: 8px;
      flex: 0 0 33%;
      padding: 0 10px 0 0;
      box-sizing: border-box;
    }

    .audint-meta-field-group__right {
      &.grow {
        flex-grow: 1;
      }

      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="url"],
      textarea {
        display: block;
        width: 100%;
      }
    }
  }
  
}

.audint-meta-checkbox-field {
  display: flex;
  align-items: center;

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    margin-right: 8px;
  }
}

.audint-meta-colored-words-wrap {
  &.hidden {
    display: none;
  }
}

.audint-meta-image-preview {
  margin-bottom: 10px;
  position: relative;
  
  &.hidden {
    display: none;
  }

  img {
    display: block;
    max-width: 300px;
  }

  .audint-meta-image-remove {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    padding: 8px 14px;
    border: none;
    border-radius: none;
    color: white;
    cursor: pointer;
  }
}

.audint-meta-image-preview--multiple {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .audint-meta-image-preview__item {
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    &:hover .audint-meta-image-preview__item-overlay {
      display: block;
    }
  }


  .audint-meta-image-preview__item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
  }
}

.audint-meta-image-button {
  margin-left: 1px !important;
  margin-bottom: 5px !important;
}

.audint-meta-image-clear.components-button.is-destructive {
  padding: 0 10px;
  height: auto;
  min-height: 30px;
}

.audint-meta-checkbox-wrap {
  display: inline-block;
  vertical-align: middle;

  & + & {
    margin-left: 10px;
  }
}

.audint-meta-link {
  &__types {
    margin-bottom: 10px;
  }

  &__pages, &__url-input-wrap, &__text-input-wrap {
    margin-bottom: 10px;

    label {
      display: block;
      margin-left: 1px;
    }
  }

  &__tab-input-wrap {
    margin-left: 1px;
  }
}

.postbox-header {
  padding-top: 8px;
  padding-bottom: 8px;
}

.postbox-header > h2 {
  font-size: 1.5rem !important;
  display: block !important;

  &:after {
    content: " - Audio Interventions Custom Fields";
  }
}

.postbox .outer {
  background-color: #f0f0f0;
  padding: 20px;
}