.awards {
  
  &__badges {
    margin-top: rem(75);
    margin-bottom: rem(30);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__badge {
    position: relative;
    width: 150px;
    height: 150px;

    .grid-flag {
      position: absolute;
      z-index: 0;
      width: 150px;
      height: 150px;
      opacity: 0.15;
      background-size: 50px;
      top: 50%;
      left: 50%;
      transform: rotate(-45deg) translate(0, -70%);
    }

    img {
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    }
  }
}