.header {
  background-color: $color-bg;
  border-bottom: 1px solid lighten($color-bg, 10%);
  // padding: 24px 32px 24px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__left {
    padding: 12px 0 0 96px;
    img {
      display: block;
      height: 56px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    padding: 24px 24px 24px 0;
  }

  &__social {
    display: flex;
    margin-left: 48px;

    &-link {
      margin-left: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background-color: rgba(white, 0.2);
      border-radius: 50%;
      
      svg {
        display: inline-block;
        fill: white;
        width: 16px;
        height: 16px;
      }
    }
  }

  .grid-flag {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 100%;
    background-size: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__link {
    display: inline-block;
    color: white;

    & + & {
      margin-left: 24px;
    }
  }
}

.small-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  margin-bottom: 20px;
  border-bottom: 1px solid lighten($color-bg, 30%);
  
  .grid-flag {
    position: relative;
    bottom: -5px;
    height: 27px;
    width: 81px;
    background-size: 27px;
  }
}
