.text-block {
  @include util-constraint-custom(900px);
  
  &__header {
    margin-bottom: rem(24);
  }
  
  &__title {
    margin: 0;
    @include type-title-2();
    color: $color-primary;
  }
  
  &__body {
    @include type-body-2();
    line-height: 1.4;
  }
}