.footer {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-bg-light;
    padding: rem(24) rem(32);
    border-top: 1px solid lighten($color-bg-light, 35%);
    border-bottom: 1px solid lighten($color-bg-light, 35%);
  }

  &__nav {
    display: flex;
    align-items: center;
    
    &-link {
      color: $color-light;
      font-size: 16px;
      line-height: 1.2;
      display: inline-block;
      vertical-align: baseline;
      
      & + & {
        margin-left: 32px;

      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-left: 24px;

      svg {
        fill: $color-light;
        display: block;
        width: 24px;
        height: 24px;
      }
    }
  }

  &__middle {
    background-color: $color-bg-lighter;
    padding: rem(60) rem(48);
  }

  &__widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__widget {
    flex-basis: 18%;
    color: $color-light;

    &-title {
      font-family: $font-header;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-style: italic;

      &:after {
        content: "";
        display: block;
        margin: 8px 0 16px;
        height: 2px;
        width: 48px;
        background-color: $color-primary;
      }
    }
  }

  &__widget-logo {
    flex-basis: 25%;

    p {
      margin: 0 auto 8px;
      font-size: 28px;

      &:last-child {
        margin: 0;
      }
    }

    span.service {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
    }
  }

  &__widget-hours {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding: 4px 8px;

      &:nth-child(odd) {
        background-color: rgba(white, 0.07);
      }

      &.current {
        // background-color: rgba(black, 0.2);
        color: $color-primary;
      }
    }


  }

  &__widget-contact {
    p {
      margin: 0 auto 8px;
      font-size: 16px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__widget-facebook {
    justify-self: flex-end;
  }

  &__bottom {
    background-color: $color-bg-lighter;
    color: darken($color-light, 20%);
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-top: 1px solid lighten($color-bg-light, 20%);
  }
}